<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--加上這區段-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                                Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="ISalaryFormula"
                 type="HRlib.ISalaryFormula, HRlibInterface" />
      <!--interface定義-->
    </typeAliases>
    <containers>
      <!--建立一般員工的container-->
      <container name="containerEmployee">
        <types>
          <type type ="ISalaryFormula" mapTo="HRlib.SalaryFormula, HRlib" />
        </types>
      </container>
      <container name="containerHack">
        <types>
          <type type ="ISalaryFormula" mapTo="HackSalaryFormula.HackSalaryFormula, HackSalaryFormula" />
        </types>
      </container>
    </containers>
  </unity>
  <!--加上這區段-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
